<h2>Edit <%= @portfolio.name %></h2>

<% if @portfolios != [] %>
<br>
<h3>Existing Portfolios</h3>
<ul>
  <% @portfolios.each do |p| %>
  <li><a href="/portfolios/<%= p.id %>"><%= p.name %></a></li>
  <% end %>
</ul>
<br>
<% end %>

<form action="/portfolios/<%= @portfolio.id %>" method="post">
<input type="hidden" name="_method" value="patch">
  <% if @stocks != [] %>
  <h4>Choose from existing stocks</h4>
    <% @stocks.each do |s| %>
      <input type="checkbox" name="stock_ids[]" id="<%= s.id %>" value="<%= s.id %>" <%= 'checked' if @portfolio.stocks.all.include?(s) %> ><%= s.symbol %>
      <br>
    <% end %>
    <br>...or<br><br>
  <% else %>
    <h4>Portfolio empty.</h4>
  <% end %>
    <h4>Create a new stock</h4>

  <p>
    <label for="stock_symbol">Symbol:</label>
    <input type="text" id="stock_symbol" name="stock[symbol]">
    <br>
    <label for="stock_name">Name:</label>
    <input type="text" id="stock_name" name="stock[name]">
    <br>
    <label for="stock_asset_class">Asset Class:</label>
    <input type="text" id="stock_asset_class" name="stock[asset_class]">
  </p>

  <p>
    <label for="name">Portfolio Name:</label>
    <input type="text" name="portfolio[name]" id="name" value="<%= @portfolio.name %>">
    <br>
    <input type="submit" value="Update Portfolio">
  </p>
</form>