<h2>Create a new Portfolio</h2>


<% if @portfolios != [] %>
<br>
<h3>Existing Portfolios</h3>
<ul>
  <% @portfolios.each do |p| %>
  <li><a href="/portfolios/<%= p.id %>"><%= p.name %></a></li>
  <% end %>
</ul>
<br><br>
<% end %>

<form action="/portfolios" method="post">
  <h4>Choose from existing stocks</h4>
  <% if @stocks != [] %>
  <br>

    <% @stocks.each do |s| %>
      <input type="checkbox" name="stock[ids][]" id="<%= s.id %>" value="<%= s.id %>"><%= s.symbol %>
      <br>
    <% end %>
    <br>
  <% else %>
    <p>No stocks exist yet, create one below</p>
    <br>
  <% end %>
  <h4>New stock</h4>

  <p>
    <label for="stock_symbol">Symbol:</label>
    <input type="text" id="stock_symbol" name="stock[symbol]">
  </p>

  <p>
    <label for="name">Portfolio Name:</label>
    <input type="text" name="portfolio[name]" id="name">
    <br>
    <input type="submit" value="Create Portfolio">
  </p>
</form>
