<h2><%= @portfolio.name %> Holdings</h2>


<% if @stocks != [] %>
<table border="1">
  <tr>
      <th>Symbol</th>
      <th>Price</th>
      <th>Name</th>
      <th>Qty</th>
      <th>Asset Class</th>
  </tr>
  <% @stocks.each do |s| %>
  <tr>
      <td><%= s.symbol %></td>
      <td><%= s.price %></td>
      <td><%= s.name %></td>
      <td><%= s.quantity %></td>
      <td><%= s.asset_class %></td>
  </tr>
  <% end %>
</table>
<% else %>
  <h3><%= @portfolio.name %> doesn't have any stocks yet.</h3>
<% end %>

<h3>Quick add stocks to <%= @portfolio.name %></h3>
<form class="" action="/stocks" method="post">
  <label for="stock_name">Name:</label>
  <input type="text" id="stock_name" name="stock[name]">
  <br>
  <label for="stock_price">Price:</label>
  <input type="text" id="stock_price" name="stock[price]">
  <br>
  <label for="stock_symbol">Symbol:</label>
  <input type="text" id="stock_symbol" name="stock[symbol]">
  <br>
  <label for="stock_quantity">Qty:</label>
  <input type="text" id="stock_quantity" name="stock[quantity]">
  <br>
  <label for="stock_asset_class">Asset Class:</label>
  <input type="text" id="stock_asset_class" name="stock[asset_class]">
  <br>
  <input type="hidden" name="portfolio[id]" value="<%= @portfolio.id %>">
  <input type="submit" value="Create Stock">
</form>
<br>
<a href="/portfolios/<%= @portfolio.id %>/edit">Edit Portfolio</a>
<br>
<form class="" action="/portfolios/<%= @portfolio.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete <%= @portfolio.name %>">
</form>

<% if @portfolios != [] %>
<br>
  <h3>Other Portfolios belonging to <%= current_user.username %></h3>
  <ul>
  <% @portfolios.each do |p| %>
    <li><a href="/portfolios/<%= p.id %>"><%= p.name %></a></li>
  </ul>
  <% end %>
<% end %>