<h2>Stock Index</h2>

<% if !@all_stocks.empty? %>
<table border="1">
  <tr>
    <th> Symbol </th>
    <th> Price </th>
    <th> Name </th>
    <th> Qty </th>
    <th> Asset Class </th>
    <th> Portfolio </th>
  </tr>
  <% @all_stocks.sort_by {|s| s.symbol }.each do |stock| %>
  <tr>
    <td><%= stock.symbol %></td>
    <td><%= stock.price %></td>
    <td><%= stock.name %></td>
    <td><%= stock.quantity %></td>
    <td><%= stock.asset_class %></td>
    <td><%= stock_portfolio(stock).name %></td>
  </tr>
  <% end %>
</table>
<% else %>
  <h4>Create New stocks and/or portfolios to populate this list.</h4>
<% end %>